@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Darumadrop+One&display=swap');

* {
    box-sizzing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", cursive;
    font-family: "Darumadrop One", cursive;
    font-size: 20px;
}

body {
    font-family: "Amatic SC";
    font-family: "Darumadrop One";
    font-size: 10px;
}
  
header {
    display: flex;
    height: 70;
    background-color: #7f5a3c;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    width: 100%;
}
  
.Logo {
    margin-left: 80px;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin: 0 10px;
}
  
nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    padding: 10px;
    height: 100px;
    padding-right: 60px;
}
  
nav a:hover {
    color: rgb(99, 166, 221);
}

main {
    width: 100%;
}

h1 {
    color: rgb(52, 103, 145);
    padding: .5rem;
}

.hero.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .hero.container h1 {
    font-size: 2rem;
    color: rgb(52, 103, 145);
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  .hero.container p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .hero.container img {
    width: 40%;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
  }
  
  /* Estilos para el contenedor de la sección history */
  
  .container:nth-of-type(2) section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .container:nth-of-type(2) h2 {
    font-size: 2rem;
    color: rgb(52, 103, 145);
    margin-bottom: 1rem;
  }
  
  .container:nth-of-type(2) p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Estilos para el contenedor de la sección adventure */
  
  .container:nth-of-type(3) section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .container:nth-of-type(3) h2 {
    font-size: 2rem;
    color: rgb(52, 103, 145);
    margin-bottom: 1rem;
  }
  
  .container:nth-of-type(3) p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .container:nth-of-type(3) img {
    display: block;
    width: 80%;
    height: auto;
    margin: 1rem auto;
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
  }


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(43, 140, 220);
    padding: 20px;
  }
  
  footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    justify-content: center;
  }
  
  .social_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
    transition: color 0.3s;
  }
  
  .social_links a {
    display: block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    color: black;
    transition: color 0.3s;
  }
  
  .social_links a img {
    width: 120%;
    height: 120%;
    color: black;
    transition: color 0.3s;
    text-decoration: none;
  }
  
  .social_links a img:hover {
    color: rgb(68, 113, 151);
  }



