@import url("@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');");
:root {
  --primary-color: #82a6b1;
  --secondary-color: #76877d;
  --accent1-color: #66462c;
  --accent2-color: #5b3000;

  --heading-font: "ExtraLight 200", serif;
  --paragraph-font: "SemiBold 600", serif;

  --nav-background-color: #82a6b1;
  --nav-link-color: #5b3000;
  --nav-hover-link-color: #5b3000;
  --nav-hover-background-color: #66462c; 
}

body {
    f___: var(--paragraph-font);
    m___: ___;
    p___: ___;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heating-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}