body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #cbcbcb;
  }
  
  h1 {
    text-align: center;
    color: steelblue;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select,
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #acacac;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid steelblue;
    border-radius: 4px;
    color:aliceblue;
    background-color: steelblue;
  }